<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> @@include('../template/meta.html')
    <title>妙寄智慧社区--关于我们</title>
    <link rel="shortcut icon" href="../assets/images/logo.ico" />
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.min.css">
</head>

<body>
    <div class="mj container-fluid">
        @@include('../template/header.html')
        <div class="mj-about">
            <div class="row">
                <div class="mj-about-box col-md-2">
                    <div class="mj-about-box__select">
                        <p class="active">公司介绍</p>
                        <p>新闻资讯</p>
                        <p>业务合作</p>
                        <p>团队招聘</p>
                        <p>联系我们</p>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="mj-about-info col-md-9">
                    <article id="intro">
                        <div class="mj-about-info__part">
                            <div class="mj-about-info__part--title">
                                公司介绍
                            </div>
                            <div class="mj-about-info__part--brand row">
                                <div class="col-md-6">
                                    <img src="../assets/images/img_mij.png" alt="妙寄品牌">
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        上海圈嘀网络科技有限公司创建于2016年初，针对快递市场存在的普遍问题，自主研发网络科技产品，致力于服务快递行业，实现传统快递行业的网络科技化打造国内领先互联网 + 快递终端服务平台。无缝对接快递业终端服务群体，运用互联网大数据智能解决快递终端服务群体的“最后一公里”的服务难题。
                                    </p>
                                </div>
                            </div>
                            <div class="mj-about-info__part--name triangle">
                                <span class="name">                                        
                                  发展历程
                                </span>
                                <div class="arrow-right">
                                </div>
                            </div>
                            <div class="mj-about-info__part--course course">
                                <div class="course-box">
                                    <div class="course-box-title">
                                        2017.01.01
                                    </div>
                                    <div class="course-box-txt">
                                        妙寄-MiJi 智慧社区 上线公测
                                    </div>
                                </div>
                                <div class="course-box">
                                    <div class="course-box-title">
                                        2016.11.05
                                    </div>
                                    <div class="course-box-txt">
                                        南京、上海终端点开始模式试运营
                                    </div>
                                </div>
                                <div class="course-box">
                                    <div class="course-box-title">
                                        2016.11.01
                                    </div>
                                    <div class="course-box-txt">
                                        战略转移立项启动~妙寄-Miji智慧社区
                                    </div>
                                </div>
                                <div class="course-box">
                                    <div class="course-box-title">
                                        2016.10.28
                                    </div>
                                    <div class="course-box-txt">
                                        获麓晨创投天使投资
                                    </div>
                                </div>
                                <div class="course-box">
                                    <div class="course-box-title">
                                        2016.10.08
                                    </div>
                                    <div class="course-box-txt">
                                        快递员公会注册快递员人数达1500
                                    </div>
                                </div>
                                <div class="course-box">
                                    <div class="course-box-title">
                                        2016.10.08
                                    </div>
                                    <div class="course-box-txt">
                                        微信妙寄关注注册用户达6000
                                    </div>
                                </div>
                                <div class="course-box">
                                    <div class="course-box-title">
                                        2016.06.20
                                    </div>
                                    <div class="course-box-txt">
                                        获龙翌资本种子投资
                                    </div>
                                </div>
                                <div class="course-box">
                                    <div class="course-box-title">
                                        2016.5.19
                                    </div>
                                    <div class="course-box-txt">
                                        快递员公会App上线 
                                    </div>
                                </div>
                                <div class="course-box">
                                    <div class="course-box-title">
                                        2016.04.19
                                    </div>
                                    <div class="course-box-txt">
                                        立项启动~快递员公会
                                    </div>
                                </div>
                                <div class="course-box">
                                    <div class="course-box-title">
                                        2016.02.03
                                    </div>
                                    <div class="course-box-txt">
                                        圈嘀科技诞生
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article id="news">
                        <div class="mj-about-info__part">
                            <div class="mj-about-info__part--title">
                                新闻资讯
                            </div>
                            <div class="mj-about-info__part--news">
                                <div class="row">
                                    <div class="col-md-5 news-img">
                                        <a href="http://finance.people.com.cn/n1/2017/0321/c1004-29157670.html" target="_blank">
                                            <img src="../assets/images/news/new_pic_fir.png" alt="网约车兼职送快递">
                                        </a>
                                    </div>
                                    <div class="col-md-7 news-content">
                                        <p class="news-content-title">网约车兼职送“快递” “跨界经营”还需明确身份</p>
                                        <p class="news-content-time">2017-3-21</p>
                                        <p class="news-content-intro">网约车的兴起和普及让公众多了一种便捷的出行选择。与此同时，除了接送乘客，实时快速的点对点服务也让网约车顺势衍生出了其他功能。不久前，杭州市民吴昊翔体验了网约车的...</p>
                                        <p class="news-content-link">
                                            <a href="http://finance.people.com.cn/n1/2017/0321/c1004-29157670.html" title="网约车兼职送“快递” “跨界经营”还需明确身份" target="_blank">了解详情</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="mj-about-info__part--news">
                                <div class="row">
                                    <div class="col-md-5 news-img">
                                        <a href="http://tech.163.com/17/0321/10/CG1UUQRG00097U7T.html" target="_blank">
                                            <img src="../assets/images/news/new_pic_sec.png" alt="刘智勇：离职创业，做出大学园区快递机器人">
                                        </a>
                                    </div>
                                    <div class="col-md-7 news-content">
                                        <p class="news-content-title">刘智勇：离职创业，做出大学园区快递机器人</p>
                                        <p class="news-content-time">2017-3-21</p>
                                        <p class="news-content-intro">导语：“7月份我们将启动无人配送校园计划，在第一所高校投放5-20台产品”，真机智能创始人刘智勇对雷锋网说道。 物流行业被“机器人”盯上由来已久。除亚马逊、京东等巨头...
                                        </p>
                                        <p class="news-content-link">
                                            <a href="http://tech.163.com/17/0321/10/CG1UUQRG00097U7T.html" title="刘智勇：离职创业，做出大学园区快递机器人" target="_blank">了解详情</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="mj-about-info__part--news">
                                <div class="row">
                                    <div class="col-md-5 news-img">
                                        <a href="http://www.bbtnews.com.cn/2017/0321/185864.shtml" target="_blank">
                                            <img src="../assets/images/news/new_pic_thi.png" alt="网约车兼职送快递">
                                        </a>
                                    </div>
                                    <div class="col-md-7 news-content">
                                        <p class="news-content-title">快递条例列入国务院2017年立法计划</p>
                                        <p class="news-content-time">2017-3-21</p>
                                        <p class="news-content-intro">北京商报讯（记者 蒋梦惟 林子 实习记者 杨宏伟）为了加强对快递市场的监督管理，3月20日，国务院办公厅印发的《国务院2017年立法工作计划》指出，快递条例已经列入今年的...</p>
                                        <p class="news-content-link">
                                            <a href="http://www.bbtnews.com.cn/2017/0321/185864.shtml" title="快递条例列入国务院2017年立法计划" target="_blank">了解详情</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article id="about">
                        <div class="mj-about-info__part">
                            <div class="mj-about-info__part--title">
                                业务合作
                            </div>
                            <div class="mj-about-info__part--content">
                                <p>妙寄品牌属于上海圈嘀科技有限公司，是以电商实体零售店＋O2O领域的新商业模式，新零售打通了传统线下渠道中，从品牌商到消费者的信息链条、实体展示、品质诚信；建立触端新物流，搭建城市、社区末端配送网络，解决最后100米，让线上电商与线下实体店有机结合，按需采购、消费升级、节时便利等元素融入本地社区生活，回归线下人际交流，并配合末端配送、自提等；最终实现妙寄•智慧社区的整个生态体系。</p>
                            </div>
                        </div>
                    </article>
                    <article id="recruitment">
                        <div class="mj-about-info__part">
                            <div class="mj-about-info__part--title">
                                团队招聘
                            </div>
                            <div class="wrapper">
                                <div class="mj-about-info__part--detail">
                                    <div class="mj-about-info__part--name triangle">
                                        <span class="name">                                        
                                          门店拓展员
                                        </span>
                                        <div class="arrow-right">
                                        </div>
                                    </div>
                                    <div class="mj-about-info__part--pay">
                                        <span>薪资：</span>6K—12K
                                    </div>
                                </div>
                                <div class="mj-about-info__part--content">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <p>岗位职责：</p>
                                        </div>
                                        <div class="col-md-10">
                                            <p>1、熟悉了解快递行业，负责所在城市的用户拉新及维护。</p>
                                            <p>2、按上级要求执行、落实公司统一的市场拓展政策或阶段性的拓展项目，确保有效率的达成目标。</p>
                                            <p>3、根据需要，协助公司运营团队拓展快递使用率。</p>
                                            <p>4、协助城市经理有效使用市场拓展费用。</p>
                                            <p>5、不断开拓推广渠道，及时汇总、反馈推广的情况，并对各类事件进行及时有效的控制与处理。</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <p>招聘要求：</p>
                                        </div>
                                        <div class="col-md-10">
                                            <p>1、一年以上的社会经验，熟悉所在城市的地理环境，具有户外工作、销售经验优先。</p>
                                            <p>2、愿意与创业公司共同发展，与团队共同成长。</p>
                                            <p>3、执行能力强，理解能力良好，熟悉并贯彻执行各项工作。</p>
                                            <p>4、积极进取，责任心强，很强的自我约束力，创新能力，独立工作和承受压力的能力;高度的工作热情，吃苦耐劳。具有基本的成本意识，良好的团队合作精神。</p>
                                            <p>5、性格外向，具有较强的沟通表达能力，较强的公关能力、应变能力和商务谈判能力。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article id="contact">
                        <div class="mj-about-info__part">
                            <div class="mj-about-info__part--title">
                                联系我们
                            </div>
                            <div class="mj-about-info__part--content">
                                <div class="company-name">
                                    上海圈嘀网络科技有限公司 ( 总部 )
                                </div>
                                <p class="company-detail">地址：上海市长宁区绥宁路998号漫居创业园1楼103室</p>
                                <p class="company-detail">电话：021-62378020</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    @@include('../template/footer.html')
    <script src="../assets/js/lib/jquery-3.1.1.min.js"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
    <script src="../assets/js/main.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    var select = $('.mj-about-box__select')
    var article = $('.mj-about-info article')
    select.on('click', function(e) {
        var target = e.target
        var p = $(target)
        p.addClass('active').siblings().removeClass('active')
        var index = select.find('p').index(p)
        article.eq(index).show().siblings().hide()
    })
    </script>
</body>

</html>
