<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @@include('../template/meta.html')
    <title>下载</title>
    <link rel="shortcut icon" href="../assets/images/logo.ico" />
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.min.css">
</head>

<body>
    <div class="mj container-fluid">
        @@include('../template/header.html')
        <div class="grey-bg">
            <div class="mj-download">
                <div class="mj-download-box">
                    <div class="mj-download-box-show row">
                        <div class="mj-download-box-show-qr col-md-6">
                            <img src="../assets/images/download/dow_two.png" alt="软件下载">
                        </div>
                        <div class="mj-download-box-show-intro col-md-6">
                            <div>
                                <img src="../assets/images/download/dow_tex.png" alt="公测版">
                            </div>
                            <a href="http://www.mijihome.cn/mijihome/miji.apk" title="">点击下载</a>
                        </div>
                    </div>
                    <div class="mj-download-box-content">
                        <img src="../assets/images/download/dow_tip.png" alt="参数说明">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@include('../template/footer.html')
    <script src="../assets/js/lib/jquery-3.1.1.min.js"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
    <script src="../assets/js/main.min.js"></script>
</body>

</html>
