<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link rel="shortcut icon" href="../assets/images/logo.ico" />
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
</head>

<body>
    <div class="mj container-fluid">
        <nav class="mj-nav navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../index.html">
                        <img src="../assets/images/miji_logo.png" alt="mjlogo">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="../index.html">首页</a></li>
                        <li><a href="#">妙寄服务</a></li>
                        <li><a href="#">入驻标准</a></li>
                        <li><a href="#">城市合伙人</a></li>
                        <li class="nav-active"><a href="download.html">App下载</a></li>
                        <li><a href="#">常见问题</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="grey-bg">
            <div class="mj-download">
                <div class="mj-download-box">
                    <div class="mj-download-box-show row">
                        <div class="mj-download-box-show-qr col-md-6">
                            <img src="../assets/images/download/dow_two.png" alt="软件下载">
                        </div>
                        <div class="mj-download-box-show-intro col-md-6">
                            <div>
                                <img src="../assets/images/download/dow_tex.png" alt="公测版">
                            </div>
                            <a href="http://www.mijihome.cn/mijihome/miji.apk" title="">点击下载</a>
                        </div>
                    </div>
                    <div class="mj-download-box-content">
                        <!-- <p>支持的硬件设备：蓝牙电子秤：JK05、06+E电子秤</p>
                        <p>把枪：振中A1/Simphone N2;支持扫描头操作</p> -->
                        <img src="../assets/images/download/dow_tip.png" alt="参数说明">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-con row">
            <div class="col-md-10">
                <p>上海圈嘀网络科技有限公司(总部)</p>
                <p>地址：上海市长宁区绥宁路998号漫居创业园1楼103室</p>
                <p>&copy;CopyRight2015-2016All Right reserved 圈嘀科技 &copy;版权所有</p>
            </div>
            <div class="footer-con-wx col-md-2">
                <img src="../assets/images/wxqr.jpg" alt="妙寄微信公众号qr">
                <p>妙寄微信公众号</p>
            </div>
        </div>
    </footer>
    <script src="../assets/js/lib/jquery-3.1.1.min.js"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript">
    </script>
</body>

</html>
