<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @@include('../template/meta.html')
    <title>妙寄智慧社区</title>
    <link rel="shortcut icon" href="../assets/images/logo.ico" />
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/city-picker.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.min.css">
</head>

<body>
    <div class="mj container-fluid">
        @@include('../template/header.html')
        <!-- banner -->
        <div class="mj-swiper swiper-container">
            <div class="swiper-slide">
                <img src="../assets/images/1.0.2/pc_ban.png" alt="ban">
            </div>
            <div class="swiper-search">
                <div class="swiper-search-box">
                    <div class="box-info">
                        <p class="box-info-title">物流信息查询</p>
                        <div class="box-info-tools">
                            <select name="express" placeholder="请选择快递公司" id="brand">
                                <option value="" class="hide">请选择快递公司</option>
                                <option value="SF">顺丰快递</option>
                                <option value="YTO">圆通快递</option>
                                <option value="STO">申通快递</option>
                                <option value="YD">韵达快递</option>
                            </select>
                            <input type="text" name="" value="" placeholder="请输入运单号" id="orderSn">
                            <button type="button" class="" id="express-search">查询</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 数据展示 -->
        <div class="mj-delivery">
            <div class="selection-title">
                <p class="selection-title-cn">包裹配送</p>
                <p class="selection-title-en">DELIVERY</p>
                <div class="selection-title-line">
                    <div></div>
                </div>
            </div>
            <div class="mj-delivery-data row">
                <div class="mj-delivery-data-col col-md-4">
                    <div class="mj-delivery-data-col-txt">
                        <div class="mj-delivery-data-col-txt__img">
                            <img src="../assets/images/1.0.2/pc_ico_peo.png" alt="覆盖人数">
                        </div>
                        <p class="intro">覆盖人数</p>
                        <p>1000000 +</p>
                    </div>
                </div>
                <div class="mj-delivery-data-col col-md-4">
                    <div class="mj-delivery-data-col-txt">
                        <div class="mj-delivery-data-col-txt__img">
                            <img src="../assets/images/1.0.2/pc_ico_rec.png" alt="累计揽件">
                        </div>
                        <p class="intro">累计揽件</p>
                        <p>450000 +</p>
                    </div>
                </div>
                <div class="mj-delivery-data-col col-md-4">
                    <div class="mj-delivery-data-col-txt">
                        <div class="mj-delivery-data-col-txt__img">
                            <img src="../assets/images/1.0.2/pc_ico_sen.png" alt="累计派件">
                        </div>
                        <p class="intro">累计派件</p>
                        <p>4200000 +</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 公司简介 -->
        <div class="mj-intro">
            <div class="mj-intro-container">
                <div class="selection-title">
                    <p class="selection-title-cn">公司简介</p>
                    <p class="selection-title-en">INTRODUCTION</p>
                    <div class="selection-title-line">
                        <div></div>
                    </div>
                </div>
                <div class="mj-intro-content">
                    <div class="mj-intro-content__img">
                        <img src="../assets/images/1.0.2/pc_ico_com.png" alt="公司">
                    </div>
                    <div class="floater"></div>
                    <div class="mj-intro-content__word">
                        <p>
                            上海妙寄信息科技有限公司，是以快递行业最后一公里解决方案的公司，以社区终端为切入点，在提升快递末端效率以及便捷的基础上，率先提出“店”+“人”+”机“多元化服务需求，来完成全新社区零售及生活服务平台。
                        </p>
                        <p>
                            上海妙寄信息科技有限公司，是一家互联网科技公司，通过社区终端大数据，高效的协同力，与合作伙伴一起搭建社区服务网，提高末端效率，降低末端成本，提升用户多元化服务体验核心。覆盖社区，物流服务、社区服务、体验中心，广告媒介等领域，为用户提供全场景、全时段的末端服务，也可以更好的满足用户需求，开放关联商业，形成有效的用户互动闭环。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 服务优势 -->
        <div class="mj-superiority">
            <div class="selection-title">
                <p class="selection-title-cn">服务优势</p>
                <p class="selection-title-en">ADVANTAGE</p>
                <div class="selection-title-line">
                    <div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 padding-arround">
                    <div class="mj-superiority">
                        <img src="../assets/images/1.0.2/pc_ico_mes.png" alt="快递">
                        <p>快递</p>
                        <p>
                            终端快递市场巨大，收派两段，引入强大的流量入口。稳定的经济收入，直接提高现金流。
                        </p>
                    </div>
                </div>
                <div class="col-md-3 padding-arround">
                    <div class="mj-superiority">
                        <img src="../assets/images/1.0.2/pc_ico_tec.png" alt="技术">
                        <p>技术</p>
                        <p>
                            妙寄app，拥有强大的技术资源，集合各大快递公司终端派件系统，以及与第三方企业直接对接。
                        </p>
                    </div>
                </div>
                <div class="col-md-3 padding-arround">
                    <div class="mj-superiority">
                        <img src="../assets/images/1.0.2/pc_ico_ser.png" alt="服务">
                        <p>服务</p>
                        <p>
                            引入互联网终端社区服务，与全国和本土的服务平台打通直接拉近与消费者的互动。
                        </p>
                    </div>
                </div>
                <div class="col-md-3 padding-arround">
                    <div class="mj-superiority">
                        <img src="../assets/images/1.0.2/pc_ico_sho.png" alt="电商">
                        <p>电商</p>
                        <p>
                            导入各大互联网平台合作，直接将千万种电商产品代入线下实体店铺，让体验产生消费。
                        </p>
                    </div>
                </div>
            </div>
            <!-- 申请合作按钮 -->
            <div class="joinus">
                <button id="joinus-btn">马上申请合作</button>
            </div>
            <div class="coservice">
                <div class="coservice-row row">
                    <div class="col-md-6 tl ">
                        <a href="about.html" title="关于我们">关于我们</a>
                    </div>
                    <div class="col-md-6 tr">
                        <i class="icon-phone"></i><span>客服电话：4008201563 (9:30-18:00在线) </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mj-modal hide" id="joinusModal">
          <div class="mj-modal-title">
              <i class="close"></i>
          </div>
          <div class="mj-modal-form">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="join_name" placeholder="请输入姓名">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="join_mobile" placeholder="请输入手机号">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="join_storename" placeholder="请输入门店名称">
                </div>
                <div class="tc">
                   <button type="button" id="modal-submit" class="mj-modal-form--btn btn btn-default btn-lg">提交申请</button>
                </div>
              </form>
          </div>
        </div><!-- /.modal -->
    </div>
    @@include('../template/footer.html')
    <script src="../assets/js/lib/jquery-3.1.1.min.js"></script>
    <script src="../assets/js/lib/swiper.min.js"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
    <script src="../assets/js/lib/city-picker/city-picker.data.min.js"></script>
    <script src="../assets/js/lib/city-picker/city-picker.min.js"></script>
    <script src="../assets/js/main.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var mjSwiper = new Swiper('.swiper-container', {
            speed: 400,
            loop: true,
            // If we need pagination
            pagination: '.swiper-pagination',
            paginationClickable: true,
            centeredSlides: true,
            autoplay: 2500,
            autoplayDisableOnInteraction: false
        })

        $("#city-picker").citypicker();

        var expressBtn = $('#express-search');
        function jumpToExpressSearch () {
            var baseUrl = '/view/service.html?';
            var brand = $('#brand').val();
            var orderSn = $('#orderSn').val();
            if (!orderSn) {
                return alert('订单号不能为空!')
            }
            var jumpUrl = baseUrl + 'expCode=' + brand + '&expNo=' + orderSn; 
            window.open(jumpUrl);
        }

        expressBtn.click(function(event) {
            /* Act on the event */
            jumpToExpressSearch();
        });

        var cityBtn = $('#express-city');

        cityBtn.click(function(event) {
            /* Act on the event */
            alert('暂未开通， 敬请期待')
        });

        var modalBtn = $('#joinus-btn')
        var modal = $('.mj-modal')
        var closeModal = $('.mj-modal .close') 
        modalBtn.click(function(event) {
            modal.removeClass('hide')
        })
        closeModal.click(function(event) {
            /* Act on the event */
            modal.addClass('hide')
        });

        // var joinUsUrl = 'http://192.168.0.251:8080/MijiWeb/joinInsert.action?param='
        var joinUsUrl = 'http://app.quandikeji.com:8188/MijiWeb/joinInsert.action?param='
        // var param = "{'name':'王大锤','mobile':'13407249293','storeName':'7间客栈','Freelanding':'TWlqaVdlYi9qb2luSW5zZXJ0LmFjdGlvbg=='}"
        var param = {}
        var join_name, join_mobile, join_storename
        var Freelanding = 'TWlqaVdlYi9qb2luSW5zZXJ0LmFjdGlvbg=='
        
        function checkPhone(phone){ 
            if(!(/^1[34578]\d{9}$/.test(phone))){ 
                alert("手机号码有误，请重填");  
                return false; 
            }
            return true
        }

        function joinUs () {
            join_name = $('#join_name').val()
            join_mobile = $('#join_mobile').val()
            join_storename = $('#join_storename').val()
            var checkphone = checkPhone(join_mobile)
            console.log(`name ${join_name}, mobile ${join_mobile}, store ${join_storename}`)
            if (checkphone) {
                param.name = join_name
                param.mobile = join_mobile
                param.storeName = join_storename
                param.Freelanding = Freelanding

                var posturl = joinUsUrl + JSON.stringify(param)
                console.log('posturl', posturl)
                $.post(posturl, {
                    headers: {
                        'Access-Control-Allow-Origin': '*'
                    }
                }, function(data) {
                    console.log('data', data)
                    console.log('data', typeof data)
                    data = JSON.parse(data)
                    if (data.code === 200) {
                        alert("门店申请成功， 请耐心等待审核")
                        modal.addClass('hide')
                    } else {
                        alert(data.mess)
                    }
                })
                .fail(function (data) {
                    console.log('data err', data)
                    alert("门店申请失败，请重新尝试");
                })
            }
        }



        var modalSubmit = $('#modal-submit')

        modalSubmit.click(function () {
            joinUs()
        })

    });
    </script>
</body>

</html>
