<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @@include('../template/meta.html')
    <title>妙寄智慧社区——城市合伙人</title>
    <link rel="shortcut icon" href="../assets/images/logo.ico" />
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.min.css">
</head>

<body>
    <div class="mj container-fluid">
        @@include('../template/header.html')
        <div class="mj-partner">
            <div class="mj-partner-banner">
                <img src="../assets/images/cit_ban.png" alt="城市合伙人">
            </div>

            <div class="mj-partner-intro">
                <div class="mj-partner-intro__title">
                    公司介绍
                </div>
                <div class="mj-partner-intro__gray row">
                    <div class="col-md-6">
                        <img src="../assets/images/img_mij.png" alt="圈嘀公司介绍">
                    </div>
                    <div class="col-md-6">
                        <p>妙寄品牌属于上海圈嘀科技有限公司，是以电商实体零售店＋O2O领域的新商业模式，新零售打通了传统线下渠道中，从品牌商到消费者的信息链条、实体展示、品质诚信；建立触端新物流，搭建城市、社区末端配送网络，解决最后100米，让线上电商与线下实体店有机结合，按需采购、消费升级、节时便利等元素融入本地社区生活，回归线下人际交流，并配合末端配送、自提等；最终实现妙寄•智慧社区的整个生态体系。</p>
                    </div>
                </div>
            </div>

            <div class="mj-partner-intro">
                <div class="mj-partner-intro__title">
                    合伙人标准
                </div>
                <div class="mj-partner-intro__list">
                    <p><span></span>独立承担民事责任的企业或个人，并能遵守法律及公司的相关规章制度，认同总公司企业文化及经营理念</p>
                    <p><span></span>有一定的市场推广经验或社区商户资源，有敬业精神，有互联网创新创业精神，具备团队合作精神，具备与公司共创品牌风雨同舟、永续经营的理念</p>
                    <p><span></span>具有一定的资金实力和风险承担力，愿意接受公司各项培训，能够按公司要求严格执行品牌使用，能积极配合总公司统一市场运作，接受总部的管理和指导，并能及时向总部反馈市场信息</p>
                </div>
            </div>

            <div class="mj-partner-intro">
                <div class="mj-partner-intro__title">
                    合伙人保障机制
                </div>
                <div class="mj-partner-intro__safe row">
                    <div class="col-md-4">
                        <img src="../assets/images/cit_pic_gua.png" alt="合伙人保障机制">
                    </div>
                    <div class="col-md-8">
                        <p>对于合伙的区域、城市都是唯一性的，具有一定的保护政策</p>
                        <p>保障协助区域洽谈快递公司，并协助其发展运营走向成熟</p>
                        <p>保障合伙人的利益，所有区域快递公司合作由合伙人自行签约，门店运营所有权属于合伙人</p>
                    </div>
                </div>
            </div>
            <div class="mj-partner-intro">
                <div class="mj-partner-intro__title">
                    加盟合伙人的好处
                </div>
                <div class="mj-partner-intro__list">
                    <p><span></span>品牌支持：免费提供"妙寄"全套VI识别系统</p>
                    <p><span></span>物料支持：提供统一开业物料、宣传物料等</p>
                    <p><span></span>人员支持：总部运营经理、城市Partner共同对接快递公司，开通全国统一论坛，由专业的运营经理对城市Partner进行现场答疑，定期举行营销培训，同时运营总监每年下店巡查，帮助城市Partner解决问题。</p>
                    <p><span></span>广告支持：总部负责全国性广告投放，并提供地方社区广告推广方案协助经销商尽快打开当地社区市场。</p>
                    <p><span></span>技术支持：专业技术团队，全天候对平台进行技术监督及维护，并提供多样化平台衍生产品，满足消费者需求。</p>
                    <p><span></span>培训支持：公司提供全套经营模式、营销策略、技术服务及完善的行业培训，让城市Partner最快速度熟悉并掌握。</p>
                </div>
            </div>
            <div class="mj-partner-intro">
                <div class="mj-partner-intro__title">
                    注意事项
                </div>
                <div class="mj-partner-intro__list">
                    <p><span></span>必须参与总部系统培训，并咨询阅读项目介绍书</p>
                    <p><span></span>遇到问题请及时与城市经理联系交流</p>
                    <p><span></span>请如实在申请表中反馈你的个人情况和当地情况，以便总部数据收集</p>
                </div>
            </div>
            <div class="mj-partner-intro">
                <div class="mj-partner-intro__title">
                    合作流程
                </div>
                <div class="mj-partner-intro__flow row">
                    <div class="col-md-3">
                        <img src="../assets/images/cit_ico_app.png" alt="城市合伙人申请">
                        <p class="title"><span>01</span>城市合伙人申请</p>
                        <p class="info">填写申请人信息，城市数据信息，当地资源优势</p>
                    </div>
                    <div class="col-md-3">
                        <img src="../assets/images/cit_ico_rev.png" alt="城市合伙人申请">
                        <p class="title"><span>02</span>城市合伙人审核</p>
                        <p class="info">针对申请人资质参与审核，符合合伙人要求</p>
                    </div>
                    <div class="col-md-3">
                        <img src="../assets/images/cit_ico_sig.png" alt="城市合伙人申请">
                        <p class="title"><span>03</span>城市合伙人签约</p>
                        <p class="info">申请人前往总公司，进行签约仪式，并参观各个门店</p>
                    </div>
                    <div class="col-md-3">
                        <img src="../assets/images/cit_ico_tra.png" alt="城市合伙人申请">
                        <p class="title"><span>04</span>城市合伙人培训</p>
                        <p class="info">前往总公司进行系统培训，并到达总部旗舰店进行专业的实操培训</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@include('../template/footer.html')
    <script src="../assets/js/lib/jquery-3.1.1.min.js"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
    <script src="../assets/js/main.min.js"></script>
</body>

</html>
