<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @@include('../template/meta.html')
    <title>妙寄智慧社区——注册</title>
    <link rel="shortcut icon" href="../assets/images/logo.ico" />
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

</head>

<body>
    <div class="mj container-fluid">
        @@include('../template/header.html')
        <div class="mj-registstation">
          <div class="mj-registstation-form">
            <form class="form-horizontal" id="registstationForm" method="post" onsubmit="return false;">
              <div class="form-group">
                <label for="stationPhone">手机号</label>
                <input type="text" class="form-control" id="stationPhone" placeholder="手机号" name="mobile" required>
              </div>
              <div class="form-group">
                <label for="stationName">站点名称</label>
                <div class="zhandian-name">
                  <span>妙寄</span>
                  <input type="text" class="form-control" id="stationName" placeholder="站点名称" minlength="2" maxlength="60" name="name" required>
                  <span>店</span>
                </div>
              </div>

              <div class="form-group distpicker-form">
                <select class="js-example-disabled-results" id="location" name="locationId" required>
                </select>
              </div>

              <div class="form-group distpicker-form" style="min-width: 420px;">
                <select class="js-example-disabled-results" style="width: 30%" id="location1" name="locationId1" required></select>
                <select class="js-example-disabled-results" style="width: 30%" id="location2" name="locationId2" required></select>
                <select class="js-example-disabled-results" style="width: 30%" id="location3" name="locationId3" required></select>
              </div>

              <div class="form-group">
                  <label for="appType">app版本</label>
                  <select id="appType" name="appType" required>
                    <option value="0">正式版</option>
                    <option value="1">点货版</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="street">街道</label>
                  <input type="text" class="form-control" id="street" placeholder="街道" name="street">
              </div>
              <div class="form-group">
                  <label for="description">详细地址</label>
                  <input type="text" class="form-control" id="description" placeholder="详细地址" name="description">
              </div>
              <div class="form-group">
                <label for="stationPwd">密码</label>
                <input type="password" class="form-control" id="stationPwd" placeholder="密码" name="password" required>
              </div>
              <div class="form-group">
                <label for="stationPwdRepeat">重复密码</label>
                <input type="password" class="form-control" id="stationPwdRepeat" placeholder="重复密码" name="passwordrepeat" required>
              </div>
              <button id="regist-submit" class="btn btn-default">提交</button>
              <button id="regist-clear" class="btn btn-primary">清空</button>
            </form>
          </div>
        </div>
    </div>
    @@include('../template/footer.html')
    <script src="../assets/js/lib/jquery-3.1.1.min.js"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
    <script src="../assets/js/lib/jquery.validate.min.js"></script>
    <script src="../assets/js/lib/distpicker.js"></script>
    <script src="../assets/js/lib/location.js"></script>
    <script src="../assets/js/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
    // 获取locationjs中的省市区数据
    var locationData = locationJS;
    // 初始化 select2 插件，复制到 #location 元素上
    var locationSelect = $('#location');
    for (var index = 0; index < locationData.length; index++ ) {
      var text = locationData[index]['province'] + locationData[index]['city'] + locationData[index]['district'];
      locationSelect.append("<option value='"+locationData[index]['id']+"'>"+text+"</option>");
    }
    locationSelect.select2({
      placeholder: '选择省市区'
    });

    function getRegin ($location, registData) {
      var selectLocationUrl = 'http://106.15.228.21:8088/quandiExpressSiteSimple/StationUser/findRegion';
      var locationData = [];
      $.ajax({
        async: false,
        method: 'post',
        datatype: 'json',
        url: selectLocationUrl,
        data: registData ? {"param": JSON.stringify(registData)} : {},
        success: function(data) {
          // alert(data.mess)
          locationData = data.obj;
          for (var index = 0; index < locationData.length; index++ ) {
            var text = locationData[index]['name'];
            $location.append("<option value='"+locationData[index]['code']+"'>"+text+"</option>");
          }
          $location.select2();
        },
        error: function(data){
          // alert(data.mess)
        }
      })
    }

    // 初始化省选择框
    var $location1 = $("#location1");
    var $location2 = $("#location2");
    var $location3 = $("#location3");
    
    getRegin($location1);

    getRegin($location2, {
      'code': 110000,
      'level': 1
    });

    getRegin($location3, {
      'code': 110000,
      'level': 2
    });

    jQuery.validator.addMethod("realPhone", function(value, element) {
      return this.optional(element) || /^1[34578]\d{9}$/.test(value);
    }, '请输入正确的手机号!');
    jQuery.validator.addMethod("pwdRepeat", function(value, element) {
      var pwdVal = $("#stationPwd").val()
      var isSame = value === pwdVal
      return this.optional(element) || isSame;
    }, '两次密码不一致!');
    jQuery.validator.addMethod("minPwd", function(value, element) {
      var length = value.length
      if(length<6||length>30){
        return false;
      }
      return true;
    }, '密码长度要在6~30位之间!');
    jQuery.validator.addMethod("mixPwd", function(value, element) {
      var v =$.trim(value);
      if(v.length<6||v.length>30){
        return false;
      }
      if(/^\d+$/.test(v))
      {
        return false;
      }
      if(/^[a-z]+$/i.test(v))
      {
        return false;
      }
      if(!/^[A-Za-z0-9]+$/.test(v))
      {
        return false;
      }
      return true;
    }, '密码要是字母和数字的组合!');
    var validator = $( "#registstationForm" ).validate({});
    $("#stationPhone").rules("add", {
        realPhone: true,
        required: true,
        messages: {
          required: "请输入手机号"
        }
    })
    $("#stationName").rules("add", {
        required: true,
        messages: {
          required: "请输入站点名称"
        }
    })

    $("#location").rules("add", {
        required: true,
        messages: {
          required: "请选择省市区"
        }
    })

    $("#appType").rules("add", {
        required: true,
        messages: {
          required: "请选择app版本"
        }
    })
    $("#description").rules("add", {
        required: true,
        messages: {
          required: "请填写详细地址"
        }
    })
    $("#stationPwd").rules("add", {
        required: true,
        minPwd: true,
        mixPwd: true,
        messages: {
          required: "请输入密码"
        }
    })
    $("#stationPwdRepeat").rules("add", {
        pwdRepeat: true,
        required: true,
        messages: {
          required: "请输入密码"
        }
    })
    // 获取表单中的信息
    function getInputVal () {
      var mobile = $('#stationPhone').val()
      var name = $('#stationName').val()
      var locationId = $('#location').val()
      var street = $('#street').val()
      var description = $('#description').val()
      var isBeta = $('#appType').val()
      var password = $('#stationPwd').val()
      var dataSource = getdataSourceBylocation(locationId)
      name = '妙寄' + name + '店'
      return {
        mobile: mobile,
        name: name,
        password: password,
        locationId: locationId,
        dataSource: dataSource,
        street: street,
        description: description,
        isBeta: isBeta,
      }
    }

    // 根据地址判断 dataSource
    function getdataSourceBylocation (locationId) {
      var location = locationData[locationId]
      var province = location['province']
      var dataSource = '3'
      if (province === '上海' || province === '广东') {
        dataSource = '1'
      } else if (province === '山西') {
        dataSource = '2'
      } else {
        dataSource = '3'
      }
      return dataSource
    }

    // 提交
    var submit = $('#regist-submit')
    // var registstationUrl = 'http://192.168.0.168:8088/quandiExpressSite/StationUser/registerStationUser';
    // var registstationUrl = 'http://app.quandikeji.com:8088/quandiExpressSite/StationUser/registerStationUser';
    // var registstationUrl = 'http://app.quandikeji.com:8088/quandiExpressSite1.4.0/StationUser/registerStationUser';
    // var registstationUrl = 'http://app.quandikeji.com:8288/quandiExpressSiteSimple/StationUser/registerStationUser';
    var registstationUrl = 'http://main.mijihome.cn:8088/quandiExpressSiteSimple/StationUser/registerStationUser';
    // var registstationUrl = 'http://192.168.231.50:8088/quandiExpressSiteSimple/StationUser/registerStationUser';
    submit.on('click', null, function(event) {
        event.preventDefault();
        if (!validator.form()) {
            console.log('validator not done')
            return
        }
        var registData = getInputVal()
        $.ajax({
          async: false,
          method: 'post',
          datatype: 'json',
          url: registstationUrl,
          data: {"param": JSON.stringify(registData)},
          success: function(data) {
            alert(data.mess)
          },
          error: function(data){
            alert(data.mess)
          }
        })
    });
    // 清空
    var clear = $('#regist-clear')
    clear.on('click', null, function(event) {
        event.preventDefault();
        var input = $('input')
        for (var i = 0, len = input.length; i < len; i++) {
            var it = input.eq(i)
            it.val('')
        }
    });
    </script>
</body>

</html>
