<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @@include('../template/meta.html')
    <title>妙寄智慧社区——快递查询</title>
    <link rel="shortcut icon" href="../assets/images/logo.ico" />
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.min.css">
</head>

<body>
    <div class="mj container-fluid">
        @@include('../template/header.html')
        <div class="grey-bg">
            <div class="mj-service">
                <div class="mj-service-box row">
                    <div class="col-md-2 mj-service-box__title">
                        <p>快递查询</p>
                    </div>
                    <div class="col-md-10">
                        <div class="mj-service-box__search tl">
                            <input type="text" id="ordersn" name="ordersnc" placeholder="请输入您需要查询的运单号"> <button type="" class="btn btn-default" id="searchBtn" >查询</button>
                        </div>
                        <div class="mj-service-box__picker">
                            <p class="tl">选择快递公司<span id="exploreS">展开</span></p>
                            <ul>
                                <li value="SF">
                                    <img src="../assets/images/expresslogo/shunfeng.png" alt="顺丰">
                                    <span>顺丰快递</span>
                                </li>
                                <li value="STO">
                                    <img src="../assets/images/expresslogo/shentong.png" alt="申通">
                                    <span>申通快递</span>
                                </li>
                                <li value="YTO">
                                    <img src="../assets/images/expresslogo/yuantong.png" alt="圆通">
                                    <span>圆通快递</span>
                                </li>
                                <li value="ZTO">
                                    <img src="../assets/images/expresslogo/zhongtong.png" alt="中通快递">
                                    <span>中通快递</span>
                                </li>
                                <li value="YD">
                                    <img src="../assets/images/expresslogo/yunda.png" alt="韵达快递">
                                    <span>韵达快递</span>
                                </li>
                            </ul>  
                            <ul>
                                <li value="ANE">
                                    <img src="../assets/images/expresslogo/anneng.png" alt="安能物流">
                                    <span>安能物流</span>
                                </li>
                                <li value="HTKY">
                                    <img src="../assets/images/expresslogo/baishi.png" alt="百事">
                                    <span>百事快递</span>
                                </li>
                                <li value="EMS">
                                    <img src="../assets/images/expresslogo/ems.png" alt="EMS">
                                    <span>EMS</span>
                                </li>
                                <li value="DBL">
                                    <img src="../assets/images/expresslogo/debang.png" alt="德邦">
                                    <span>德邦快递</span>
                                </li>
                                <li value="GTSD">
                                    <img src="../assets/images/expresslogo/gaotiekuaiyun.png" alt="高铁快递">
                                    <span>高铁快递</span>
                                </li>
                            </ul>   
                            <ul class="exptend-ex hide">
                                <li value="GTO">
                                    <img src="../assets/images/expresslogo/guotong.png" alt="国通">
                                    <span>国通快递</span>
                                </li>
                                <li value="JD">
                                    <img src="../assets/images/expresslogo/jingdong.png" alt="京东">
                                    <span>京东快递</span>
                                </li>
                                <li value="FAST">
                                    <img src="../assets/images/expresslogo/kuaijie.png" alt="快捷">
                                    <span>快捷</span>
                                </li>
                                <li value="KYSY">
                                    <img src="../assets/images/expresslogo/kuayue.png" alt="跨越速运">
                                    <span>跨越速运</span>
                                </li>
                                <li value="LB">
                                    <img src="../assets/images/expresslogo/longbang.png" alt="龙邦快运">
                                    <span>龙邦快运</span>
                                </li>
                            </ul>
                            <ul class="exptend-ex hide">
                                <li value="PJ">
                                    <img src="../assets/images/expresslogo/pinjun.png" alt="品骏快递">
                                    <span>品骏快递</span>
                                </li>
                                <li value="QFKD">
                                    <img src="../assets/images/expresslogo/quanfeng.png" alt="全峰快递">
                                    <span>全峰快递</span>
                                </li>
                                <li value="RRS">
                                    <img src="../assets/images/expresslogo/ririshun.png" alt="日日顺">
                                    <span>日日顺</span>
                                </li>
                                <li value="SURE">
                                    <img src="../assets/images/expresslogo/suer.png" alt="速尔快递">
                                    <span>速尔快递</span>
                                </li>
                            </ul>
                            <ul class="exptend-ex hide">
                                <li value="YZPY">
                                    <img src="../assets/images/expresslogo/youzheng.png" alt="邮政">
                                    <span>中国邮政</span>
                                </li>
                                <li value="HHTT">
                                    <img src="../assets/images/expresslogo/tiantian.png" alt="天天快递">
                                    <span>天天快递</span>
                                </li>
                                <li value="WXWL">
                                    <img src="../assets/images/expresslogo/wanxiang.png" alt="万象物流">
                                    <span>万象物流</span>
                                </li>
                                <li value="UC">
                                    <img src="../assets/images/expresslogo/yousu.png" alt="优速快递">
                                    <span>优速快递</span>
                                </li>
                                <li value="YCSY">
                                    <img src="../assets/images/expresslogo/yuancheng.png" alt="远成快运">
                                    <span>远成快运</span>
                                </li>
                            </ul>  
                            <ul class="exptend-ex hide">
                                <li value="ZJS">
                                    <img src="../assets/images/expresslogo/zhaijisong.png" alt="宅急送">
                                    <span>宅急送</span>
                                </li>
                                <li value="ZTWL">
                                    <img src="../assets/images/expresslogo/zhongtie.png" alt="中铁快递">
                                    <span>中铁快递</span>
                                </li>
                                <li value="RFD">
                                    <img src="../assets/images/expresslogo/rufengda.png" alt="如风达">
                                    <span>如风达</span>
                                </li>
                            </ul>                         
                        </div>

                        <div class="mj-service-box__result">
                            <p class="tl">查询结果</p>
                            <div id="loading" class="hidesoft">
                                <img src="../assets/images/loading.gif" alt="gif">
                            </div>
                            <div id="resultContent">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@include('../template/footer.html')
    <script src="../assets/js/lib/jquery-3.1.1.min.js"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
    <script src="../assets/js/main.min.js"></script>
    <script>
        $(document).ready(function() {  
            // var url = 'http://app.quandikeji.com:8088/quandiExpressSite1.4.0/Logistics/queryLogisticsInfoForJson?'
            // var url = 'http://192.168.231.112:8081/ExpressCompany/ExpressOperation/KdniaoTrackQuery'
            // var url = 'http://www.mijihome.cn:8088/ExpressCompany/ExpressOperation/KdniaoTrackQuery'
            var url = 'http://www.mijihome.cn:8088/ExpressCompany/ExpressOperation/queryExpreeRouteInfo'
            // var url = 'http://192.168.231.50:8088/ExpressCompany/ExpressOperation/queryExpreeRouteInfo'
            
            function GetQueryString(name) {
                var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if(r!=null)return  unescape(r[2]); return null;
            }
            // 判断url参数是否存在
            var expCode = GetQueryString('expCode')
            var expNo = GetQueryString('expNo')
            if (expCode&&expNo) {
                getTrace(expCode, expNo)
            }
            var exportEx = $('#exploreS')
            var exploreRS = $('#exploreRS')
            var picker = $('.mj-service-box__picker ul')
            var pickerLi = $('.mj-service-box__picker ul li')
            var brand = ''
            var searchBtn = $('#searchBtn')
            var orderSn = $('#ordersn')
            exportEx.on('click', function () {
                var exptendUl = $('ul.exptend-ex')
                exptendUl.toggleClass('hide')
            })
            exploreRS.on('click', function () {
                var exptendRow = $('div.rowexpend')
                exptendRow.toggleClass('hide')
            })
            picker.on('click', 'li', function (e) {
                event.preventDefault()
                var target = e.currentTarget
                console.log(e.currentTarget)
                var li = $(target)
                brand = li.attr('value')
                console.log('brand', brand)
                pickerLi.removeClass('liactive')
                li.addClass('liactive')
            })

            function getTrace(expressName, orderSn) {
                if (!expressName) {
                    alert('请选择快递品牌!')
                    return
                }
                if (!orderSn) {
                    alert('订单号不能为空')
                    return
                }
                // var ajaxData = {
                //     expCode: 'ZTO',
                //     expNo: '475573183494'
                // };
                $('#loading').removeClass('hidesoft');
                $('#resultContent').html('');
                var ajaxData = {
                    expressName,
                    orderSn
                };
                ajaxData = JSON.stringify(ajaxData)
                $.ajax({
                  async: false,
                  url: url,
                  type: 'POST',
                  data: {
                      param: ajaxData
                  },
                  success: function(data) {
                    $('#loading').addClass('hidesoft');
                    var code = data.code
                    if (code !== 200) {
                        alert(data.mess)
                        return
                    }
                    // var state = 
                    var parts = data.obj
                    var dom = ""
                    for (var i = 0, len = parts.length; i < len; i++) {
                        var part = parts[i]
                        dom += "<div class='row'><div class='col-md-3'><p>" + part.time + "</p></div><div class='col-md-1'><div></div></div><div class='col-md-8'><p>" + part.info + "</p></div></div>"
                    }
                    $('#resultContent').html(dom)
                  },
                  error: function(data){
                    $('#loading').addClass('hidesoft');
                    // alert(data.errorResult)
                  }
                })
                
            }

            searchBtn.on('click', function(event) {
                event.preventDefault();
                /* Act on the event */
                var orderSnVal = orderSn.val()
                if (!orderSnVal) {
                    alert('订单号不能为空!')
                    return
                }
                if (!brand) {
                    alert('请选择快递品牌')
                    return
                }
                getTrace(brand,orderSnVal)
            })
        })
    </script>
</body>

</html>
