<footer class="footer">
    <div class="footer-con row">
        <div class="col-md-10">
            <p>上海圈嘀网络科技有限公司(总部)</p>
            <p>地址：上海市长宁区绥宁路998号漫居创业园1楼103室</p>
            <div>
              <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010502002819" style="color:white;display:inline-block;text-decoration:none;">
                <img src="../assets/images/gongan.png" style="float:left;"/>
                <p style="float:left;height:20px;line-height:20px;">
                  <span style="color:#939393;">沪公网安备</span> 31010502002819号&copy;CopyRight 2015-2019All Right reserved 圈嘀科技 &copy;版权所有
                </p >
              </a>
            </div>
            <div class="footer-zhizhao">
              <a href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020181108103429000002955712-SAIC_SHOW_310000-20190221173152259238&signData=MEUCIQDrboK1AV+LIsw4/qISc16aYyIJdPXr4L1CTMecf8zfhAIgFWRT+j2eWG3eLNaJirSPE8HWuRTIG0QB/hscyB1UVv0=" target="_blank" rel="noopener noreferrer">
                <img src="../assets/images/gongshangbiaoshi.jpg" style="float:left;"/>
              </a>
            </div>
        </div>
        <div class="footer-con-wx col-md-2">
            <img src="../assets/images/wxqr.jpg" alt="妙寄微信公众号qr">
            <p>妙寄微信公众号</p>
        </div>
    </div>
</footer>