<nav class="mj-nav navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img src="../assets/images/miji_logo.png" alt="妙寄官网logo">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li data-nav='index'><a href="index.html">首页</a></li>
                <li data-nav='service'><a href="service.html">快递查询</a></li>
                <li data-nav='enter'><a href="enter.html">入驻标准</a></li>
                <li data-nav='partner'><a href="partner.html">城市合伙人</a></li>
                <li data-nav='download'><a href="download.html">App下载</a></li>
                <li data-nav='question'><a href="question.html">常见问题</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
