@import "font";
@import "color";
html {
    margin: 0 0;
    padding: 0 0;
    width: 100%;
    overflow-x: hidden;
}

.padding-both {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-arround {
    padding: 15px 15px;
}

.express-bg {
    background-color: #f3be30;
}

.tel-bg {
    background-color: #ff7a22;
}

.ser-bg {
    background-color: #28b0ef;
}

.ele-bg {
    background-color: #b064eb;
}

.min-height {
    min-height: 78vh;
}

.mj {
    padding: 0 0;
    .min-height;
    font-family: 'microsoft yahei';
    &-swiper {
        img {
            width: 100%;
            height: 100%;
        }
        .swiper-pagination {
            span {
                width: 46px;
                height: 10px;
                border-radius: 10px 10px;
            }
            span.swiper-pagination-bullet-active {
                color: @dark-yellow;
                background: @dark-yellow!important;
            }
        }
        .swiper-search {
            position: absolute;
            bottom: 0;
            width: 100%;
            &-box {
                .maxwidth;
                .box-info {
                    padding: 0 10px 10px 15px;
                    width: 616px;
                    height: 121px;
                    margin-bottom: 3px;
                    background: #fff;
                    box-shadow: 0px 4px 10px #ececec;
                    &-title {
                        font-size: 18px;
                        color: #666;
                        padding-top: 22px;
                        padding-bottom: 22px;
                    }
                    &-tools {
                        font-size: 14px;
                        color: #999;
                        select {
                            width: 200px;
                            height: 39px;
                            padding-left: 5px;
                            border: 1px solid #999;
                            border-radius: 3px;
                        }
                        input {
                            width: 239px;
                            height: 39px;
                            padding-left: 5px;
                            border-radius: 3px;
                            border: 1px solid #999;
                        }
                        button {
                            color: #fff;
                            margin-left: 20px;
                            text-align: center;
                            width: 104px;
                            height: 38px;
                            border: none;
                            background: url('../images/1.0.2/pc_btn.png') no-repeat center;
                        }
                    }
                }
            }
        }
    }

    .selection-title {   
        &-cn {
            font-size: 30px;
            color: #2c2c2c;
            text-align: center;
            padding-top: 81px;
            font-family: 'AdobeHeitiStd-Regular';
        }
        &-en {
            font-size: 24px;
            color: #c6c6c6;
            text-align: center;
            padding-top: 24px;
            font-family: 'ArialMT';
        }
        &-line {
            position: relative;
            text-align: center;
            padding-top: 19px;
            padding-bottom: 30px;
            div {
                margin: auto;
                width: 36px;
                height: 2px;
                font-family: 'ArialMT';
                background: #c6c6c6;
            }
        }
    }

    &-delivery {
        .maxwidth;
        height: 666px;
        &-data {
            &-col {
                &-txt {
                    height: 318px;
                    padding-top: 49px;
                    text-align: center;
                    border: 1px solid #ececec;
                    &__img {
                        padding-bottom: 46px;
                        img {
                            width: 100px;
                            height: auto;
                            vertical-align: middle;
                        }
                    }
                    .intro {
                        font-size: 22px;
                        color: #666;
                        font-family: 'AdobeHeitiStd-Regular';
                    }
                    span {
                        padding-left: 36px;
                        font-size: 24px;
                        color: @dark-yellow;
                    }
                    p {
                        &:last-child {
                            padding-top: 25px;
                            font-size: 37px;
                            font-family: 'ArialMT';
                            color: @dark-yellow;
                        }
                    }
                }
                &-detail {
                    text-align: center;
                    margin-top: -12px;
                    span {
                        background-color: white;
                        padding: 0 10px;
                        color: #666;
                        font-size: 24px;
                    }
                }
            }
        }
    }

    &-intro {
        background: #f7f7f7;
        padding-right: 45px;
        padding-left: 45px;
        padding-bottom: 60px;
        height: 604px;
        &-container {
            .maxwidth;
        }
        &-content {
            float: right;
            width: 963px;
            height: 295px;
            border: 1px solid @dark-yellow;
            &__img {
                position: absolute;
                margin-top: 14px;
                margin-left: -155px;
                img {
                    width: auto;
                    height: 264px;
                }
            }
            .floater {
                float:left; 
                height:50%;
                margin-bottom:-90px;
            }
            &__word {
                position:relative;
                padding-right: 22px;
                margin-left: 300px;
                font-family: 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
                font-size: 14px;
                color: #333;
                clear:both;
                p {
                    line-height: 25px;
                }
            }
        }
    }

    &-superiority {
        .maxwidth;
        .row {
            .mj-superiority {
                padding: 60px 55px 0 55px;
                border: 1px solid #ececec;
                width: 261px;
                height: 373px;
                text-align: center;
                img {
                    width: 88px;
                    height: 88px;
                    margin-bottom: 39px;
                }
                p {
                    font-size: 20px;
                    color: #333;
                    font-family: 'AdobeHeitiStd-Regular';
                    margin-bottom: 30px;
                    &:last-child {
                        line-height: 20px;
                        font-size: 14px;
                        color: #999999;
                        font-family: 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .joinus {
            padding-top: 44px;
            padding-bottom: 71px;
            text-align: center;
            button {
                width: 178px;
                height: 53px;
                text-align: center;
                color: white;
                font-size: 20px;
                border: none;
                border-radius: 5px;
                background: url('../images/1.0.2/ico_nor.png') center no-repeat;;
            }
        }
        .coservice {
            .maxwidth;
            padding: 0 40px;
            &-row {
                padding: 24px 0;
                box-sizing: border-box;
                border-top: 1px solid #bfbfbf;
                .col-md-6 {
                    padding-left: 0;
                    padding-right: 0;
                }
                a {
                    color: @dark-yellow;
                }
                span {
                    color: #666;
                }
            }
        }
    }
    &-modal {
        background-color: white;
        z-index: 100;
        display: block;
        position: fixed;
        bottom: 100px;
        width: 40%;
        height: 460px;
        left: 30%;
        box-shadow: 1px 1px 20px #999;
        &-title {
            padding: 20px;
            text-align: right;
            .close {
                opacity: 1;
            }
        }

        &-form {
            padding: 40px;
            padding-bottom: 20px;
            .form-control {
                margin-bottom: 30px;
                height: 60px;
                font-size: 18px;
                &:hover {
                    border: 1px solid @dark-yellow;
                    box-shadow: 0 0 0 #fff;
                }
                &:focus {
                    border: 1px solid @dark-yellow;
                    box-shadow: 0 0 0 #fff;
                }
            }
            &--btn {
                color: white;
                background-color: @dark-yellow;
            }
        }
    }

    
}