.footer {
    padding: 0 0;
    background: #333333;
    &-con {
        .maxwidth;
        padding-top: 25px;
        padding-bottom: 10px;
        padding-left: 4%;
        color: white;
        p {
            font-size: 15px;
            padding-bottom: 15px;
        }
        &-wx {
            text-align: center;
            img {
                height: 80px;
                width: 80px;
            }
            p {
                padding-top: 5px;
                font-size: 12px;
            }
        }
    }
}
